# EditorConfig is awesome: https://EditorConfig.org
# Visual Studio, TortoiseGit, GitHub, GibLab 바로 사용가능
# Eclipse, VS Code, Notepad++은 Plugin 설치해야 가능

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,ts,java,cs,html}]
charset = utf-8-bom
indent_style = space
indent_size = 4
tab_width = 4

# 확장자 대소 구별을 한다.
[*.{c,h,cpp,hpp,C,H,Cpp,Hpp}]
charset = euc-kr
indent_style = tab
indent_size = 4
tab_width = 4

# Markdown
[*.md]
charset = utf-8-bom
indent_style = space
indent_size = 2
tab_width = 2

# JSON
[*.json]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4

# 4 space indentation
[*.py]
charset = utf-8
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

[.editorconfig, LICENSE]
charset = utf-8-bom

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
